# IDE
.idea
.vscode
*.iml

# OS
.DS_Store
Thumbs.db

# Build
target/
build/

# ENV FILES (CRITICAL)
**/.env
**/.env.*
**/*.env

# Allow Spring config files
!**/application.properties
!**/application.yml
!**/bootstrap.properties
!**/bootstrap.yml